

  .container {
    text-align: center;
}

.centered-heading {
    background-color: #fff;
    padding: 20px;
   
}
  .outer-box {
            width: 200px;
            height: 200px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: aliceblue;
            border: 2px solid black;
            display: inline-block;
            margin: 25px;
            text-align: center;
        
        }
        .inner-box1{
            width: 75px;
            height: 20px;
            font-family: Impact, 'Arial Bold', sans-serif;
            font-size: 15px;
            background-color: palevioletred;
            margin-left: 122px;
            text-align: center;
            border: 2px solid black;
        }
            .inner-box2{
                width: 75px;
                height: 20px;
                font-family: Impact, 'Arial Bold', sans-serif;
                font-size: 15px;
                background-color: #e74c3c;
                margin-left: 122px;
                text-align: center;
                border: 2px solid black;
        }
        .inner-box3{
            width: 75px;
            height: 20px;
            font-family: Impact, 'Arial Bold', sans-serif;
            font-size: 15px;
            background-color: rgba(200, 255, 0, 0.973);
            margin-left: 122px;
            text-align: center;
            border: 2px solid black;
        }    

    .p{
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    }
    /* CSS for desktop view */
@media (min-width: 992px) 
{
   div{ background-color: rgba(255, 255, 255, 0.979) ;
}
}
/* CSS for tablet */
@media (min-width: 768px) and (max-width: 991px)
{
    div{ background-color: rgba(210, 250, 238, 0.932) ;
    }
}
/* CSS  for mobile view*/
@media (max-width: 767px)
{
    div{ background-color: rgb(208, 240, 240) ;
    }
}

    